<style>
  .div-1{
    padding: 70px 0;
    margin: 0 auto;
}
</style>

<div class="div-1 center-align" style="width: 80%;">
<br>
<br>
<div class="container">
</form><h3><b>Message to <%=@user.username%></b></h3>
<br>
<br>
<form action="/send" method="post">
  <div class="input-field">
    <input  id="receiver" name="receiver_id" type="hidden" value="<%=@user[:id]%>">
    <textarea id="message" name="content" class="materialize-textarea"></textarea>
    <label for="message">Message</label>
  </div>
  <br>
  <br>
  <input type="submit" value="Send Message" class="btn blue">
</div>
</div>