<style>
  .div-1{
    padding: 70px 0;
    margin: 0 auto;
}
</style>
<div class="div-1 center-align" style="width: 80%;">
<div class="container">
<h1><b>Your messages</b></h1>
<div class="left-align">
<%@messages.each do |m|%>
  <h3><i><b>From: </i><%=User.find_by(id: m[:sender_id])[:username]%></b></h3>
  <h5><%=m[:content]%></h5>
  <h5><a href="/messages/<%=m[:sender_id]%>">Reply</a></h5>
<%end%>
</div>
</div>