<style>
  .div-1{
    padding: 70px 0;
    margin: 0 auto;
}
</style>
<div class="div-1 center-align" style="width: 80%;">
<div class="container">
<h3><b>Your messages</b></h3>
<div class="left-align">
<%@messages.each do |m|%>
  <h4><i><b>From: </i><%=User.find_by(id: m[:sender_id])[:username]%></b></h4>
  <h6><%=m[:content]%></h6>
  <form action="/messages/<%=m[:sender_id]%>" method="get">
  <input type="submit" value="Reply" class="btn-tiny blue white-text">
</form>
<%end%>
</div>
</div>