<style>
  .div-1{
    padding: 70px 0;
    margin: 0 auto;
}
</style>

<div class="div-1 center-align" style="width: 60%;">
<br>
<br>
<h3 class="container"><b>Login</b></h3>
<br>
<br>
<form class="container" action="/login" method="post">
  <div class="input-field">
    <input type="text" name="user[username]" id="username">
    <label for="username">Username</label>
  </div>
  <div class="input-field">
    <input type="password" name="user[password]" id="password">
    <label for="password">Password</label>
  </div>
  <br>
  <input type="submit" value="Login" class="btn blue">
</form>
<br>
<br>
</div>
