<h3 class="container purple-text text-lighten-2">Create an Account</h3>

<form class="container" action="/signup" method="post">
  <div class="input-field">
    <input type="text" name="user[username]" id="username">
    <label for="username">Username</label>
  </div>
  <div class="input-field">
    <input type="password" name="user[password]" id="password">
    <label for="password">Password</label>
  </div>
  <input type="submit" value="Sign up" class="btn-small">
</form>