
<div class="container">

<%if !@users.empty?%>
<h2 class="center-align"><b>Your seach has found...</b></h2>
  <%@users.each do |user|%>
  <h3><b><a href="/profile/<%=user.id%>"><%=user.username%></a></b></h3>
  <%end%>
<%else%>
  <b><h2>  Sorry, we could not find that user! </h2></b>
<%end%>
</div>