
<div class="container">
  <%@users.each do |user|%>
    <h4><%=user.username%></h4>
      <%if already_following?(user.id)%>
        <p>Currently Following</p>
      <%else%>
        <p><a href="/add/<%=user.id%>">Follow</a></p>
      <%end%>
  <%end%>
</div>