<h1>Search for other users by name</h1>
<p>add as friend/follow? => push to a friends array?</p>
<p>view their profiles</p>
<p>send messages to other users</p>

<form action="/search" method="post">
  <div class="container input-field">
    <input type="text" name="username" id="search">
    <label for="search">Username</label>
    <input type="submit" value="Search">
  </div>
</form>