<style>
  .div-1{
    padding: 20px 0;
    margin: 0 auto;
}
</style>

<div class="div-1 center-align" style="width: 60%;">
<div class="center-align">
<h1><b>Search for User</b></h1>
</div>
<br>
<br>
<form action="/search" method="post">
  <div class="container input-field">
    <input type="text" name="username" id="search">
    <label for="search">Username</label>
    <br>
    <br>
    <input type="submit" value="Search" class="btn blue">
  </div>
</form>
</div>