<h1>Product info page</h1>
<p>will have usage attributes</p>
<p>will have the ability to favorite</p>
<p>will have option to edit here</p>
<p>will have option to delete here</p>

<div class="container">
  <h1><%=@product.name%> by <%=@product.brand %></h1>
    <%if @product.favorite == "on"%>
      <i class="tiny material-icons">favorite</i>
    <%end%>
  <p><%=@product.product_type%></p>
  
<form action="/products/<%=@product.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Product" class="btn-small red white-text">
</form>
</div>