<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Project_1</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>$(document).ready(function(){
    $('.sidenav').sidenav();});
    </script>

    <style>
      .sidnav {
        background-color: red lighten-4;
      }
      .sidenav-trigger {
        background-color: red lighten-3;
        padding: 0px 0px 0px 0px
      }
    </style>
    
  </head>
  <body>
    
   <nav>  
   <div class="nav-wrapper pink lighten-3">
      <a href="/" class="brand-logo center"><b>FLATIRON PHASE 2 PROJECT</b></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <%if !is_logged_in?%>
        <li><a href='/signup'><b>Create Account</b></a></li>
        <li><a href='/login'>Login</a></li>
      <%else%>
        <li><a href='/logout'><b>Logout</b></a></li>
        <li><a href='/'><b>Home</b></a></li>
      <%end%>
      </ul>
  </div> 
  </nav>

  <%if is_logged_in? && users_empty?%>
  <ul id="slide-out" class="sidenav red lighten-5">
    <br>
    <br>
    <div class="container"><li><b>Welcome back <%=current_user.username%>!</b></li></div>
    <br>
    <br>
    <li><a class="waves-effect" href="/profile/<%=current_user.profile.id%>">My Profile</a></li>
    <li><a class="waves-effect" href="/products">My Products</a></li>
    <li><a class="waves-effect" href="/messages">Messages</a></li>
    <li><a class="waves-effect" href="/followers">My Followers</a></li>
    <li><a class="waves-effect" href="/following">Users I'm Following</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader"></a></li>
    <li><a class="waves-effect" href="/profile/<%=current_user.profile.id%>/edit">Edit My Routine/Bio</a></li>
    <li><a class="waves-effect" href="/products/new">Add New Product</a></li>
    <li><a class="waves-effect" href="/search">Search Users<i class="material-icons right">search</i></a></li>
    <br>
    
  </ul>
  <div class="under-nav pink lighten-3">
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;menu</i></a>
  </div>
  <%end%>

  
    

        <%= yield %>

    

    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>


