<style>
  .div-1{
    padding: 20px 0px 20px 0px;
  }
</style>
<div class="div-1 container center-align">
<div class="container center-align">
<h2><b>Users Currently Following You</b></h2>
</div>
  <%@followers.each do |f|%>
  <h3 class="left-align"><b><a href="/profile/<%=f.id%>"><%=f.username%></a></b></h3>
  <%end%>
</div>
