<h1>Will be the profile that everyone will be able to see</h1>
<p>list of favorited products => push to a favorite array?</p>
<p>daily routine</p>
<p>additional content?</p>
<p>ability to travel to edit page</p>